/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	font-family: "微软雅黑", helvetica, arial;
	background-image:url(../images/bg.jpg);
}
body,table {
	color:#666;
}
/*
 * Global add-ons
 */
a {
	color:#666;
}
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
hr {
	border-top:solid 1px #DDD;
	border-bottom:solid 1px #FFF;
	margin-top:0px;
	margin-bottom:0px;
}
.well {
	box-shadow:none;
}
.breadcrumb {
	margin-bottom:0px;
	margin-top:0px;
	background-color:transparent;
	color:#999;
	text-shadow:1px 1px 0px #FFF;
}
.breadcrumb a {
	color:#999;
}
.breadcrumb a:hover {
	color:#666;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
#default-nav {
	display: none;
}
.mylogo {
	text-align:center;
	font-size:24px;
	color:#FFF;
	margin-left:0px;
	margin-right:0px;
	line-height:60px;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #006699), color-stop(1, #0099CC));
	border-bottom:solid 1px #006699;
	border-top:solid 1px #0099CC;
}
@media (min-width: 768px) {
	#default-nav {
		display: block;
		padding-top:40px;
	}
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		padding-top:0px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #222;
		border-right: 1px solid #111;
		background-image:url(../images/dbg.jpg);
		box-shadow: 3px 0px 2px rgba(0,0,0,0.3);
	}
	.nav-sidebar {
		margin-right: -21px; /* 20px padding + 1px border */
		margin-left: -20px;
		border-bottom: solid 1px #000;
		border-top: solid 1px #111;
	}
	.mylogo {
		margin-left:-20px;
		margin-right:-20px;
	}
}
/* Sidebar navigation */
.nav-sidebar {
	border-bottom: solid 1px #000;
	border-top: solid 1px #222;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color: #FFF;
	background-color:transparent;
	background-image:url(../images/dbg.jpg);
}
.nav-sidebar > .active > a {
	background-color: #111!important;
	background-image:none;
}
.nav-sidebar > li > a > .glyphicon {
	color: #999;
}
.nav-sidebar > li > a:hover {
	background-color: #111;
	background-image:none;
}
.navshowhide {
	color:#FFF;
	text-align:center;
	background-color:#222;
	border-bottom:solid 1px #111;
	font-size:14px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	cursor:pointer;
}
/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
.main {
	padding-right: 40px;
	padding-left: 40px;
}
}
.main .page-header {
	margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/* Buttons
=================================================================== */
.btn-primary {
  	background-color: #006dcc;
  	color: #ffffff;
  	background-image: -moz-linear-gradient(top, #67c2ef, #2FABE9);
  	background-image: -ms-linear-gradient(top, #67c2ef, #2FABE9);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67c2ef), to(#2FABE9));
  	background-image: -webkit-linear-gradient(top, #67c2ef, #2FABE9);
  	background-image: -o-linear-gradient(top, #67c2ef, #2FABE9);
  	background-image: linear-gradient(top, #67c2ef, #2FABE9);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'67c2ef, endColorstr='#'2FABE9, GradientType=0);
  	border-color: #1598d9 #1598d9 #007bb8 #1598d9;
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  	background-color: #2FABE9;
}

.btn-primary:active,
.btn-primary.active {
  	background-color: #2FABE9 \9;
}

.btn-warning {
  	background-color: #faa732;
  	color: #ffffff;
  	background-image: -moz-linear-gradient(top, #fabb3d, #F4A506);
  	background-image: -ms-linear-gradient(top, #fabb3d, #F4A506);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fabb3d), to(#F4A506));
  	background-image: -webkit-linear-gradient(top, #fabb3d, #F4A506);
  	background-image: -o-linear-gradient(top, #fabb3d, #F4A506);
  	background-image: linear-gradient(top, #fabb3d, #F4A506);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fabb3d, endColorstr='#'F4A506, GradientType=0);
  	border-color: #f89406 #f89406 #ad6704;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  	background-color: #F4A506;
}

.btn-warning:active,
.btn-warning.active {
  	background-color: #F4A506 \9;
}

.btn-danger {
  	background-color: #da4f49;
  	color: #ffffff;
  	background-image: -moz-linear-gradient(top, #fa603d, #f1360a);
  	background-image: -ms-linear-gradient(top, #fa603d, #f1360a);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa603d), to(#f1360a));
  	background-image: -webkit-linear-gradient(top, #fa603d, #f1360a);
  	background-image: -o-linear-gradient(top, #fa603d, #f1360a);
  	background-image: linear-gradient(top, #fa603d, #f1360a);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fa603d, endColorstr='#'f1360a, GradientType=0);
  	border-color: #f1360a #f1360a #f1360a;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  	background-color: #f1360a
}

.btn-danger:active,
.btn-danger.active {
  	background-color: #f1360a \9;
}

.btn-success {
  	background-color: #5bb75b;
  	color: #ffffff;
  	background-image: -moz-linear-gradient(top, #78cd51, #5AAD34);
  	background-image: -ms-linear-gradient(top, #78cd51, #5AAD34);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78cd51), to(#5AAD34));
  	background-image: -webkit-linear-gradient(top, #78cd51, #5AAD34);
  	background-image: -o-linear-gradient(top, #78cd51, #5AAD34);
  	background-image: linear-gradient(top, #78cd51, #5AAD34);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'78cd51, endColorstr='#'5AAD34, GradientType=0);
  	border-color: #5AAD34 #5AAD34 #387038;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  	background-color: #5AAD34;
}

.btn-success:active,
.btn-success.active {
  	background-color: #5AAD34 \9;
}

.btn-info {
  	background-color: #49afcd;
  	color: #ffffff;
  	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: linear-gradient(top, #5bc0de, #2f96b4);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5bc0de, endColorstr='#'2f96b4, GradientType=0);
  	border-color: #2f96b4 #2f96b4 #1f6377;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  	background-color: #2f96b4;
}

.btn-info:active,
.btn-info.active {
  	background-color: #24748c \9;
}

.btn-inverse {
  	color: #ffffff;
  	background-color: #363636;
  	*background-color: #222222;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  	background-image: -webkit-linear-gradient(top, #444444, #222222);
  	background-image: -o-linear-gradient(top, #444444, #222222);
  	background-image: linear-gradient(to bottom, #444444, #222222);
  	background-image: -moz-linear-gradient(top, #444444, #222222);
  	background-repeat: repeat-x;
  	border-color: #222222 #222222 #000000;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  	color: #ffffff;
  	background-color: #222222;
  	*background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  	background-color: #080808 \9;
}
.my-navbar {
	border-bottom:solid 2px #222;
	box-shadow: 0px 3px 2px rgba(0,0,0,0.3);
	background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
}
.navbar-brand {
	font-size:22px;
	font-weight:900;
	color: #fff;
	text-shadow: 1px 1px 2px #0a0c0e;
	padding-left:50px;
}
.navbar-nav>li>a {
	border-left:solid 1px #222;
	border-right:solid 1px #000;
}
.pageBox {
	text-align:right;
	padding-top:15px;
	border-top:solid 1px #CCCCCC;
}
.pageBox a,.pageBox span {
	display: inline-block;
	_display: inline;
	line-height: normal;
	border: 1px solid #CCCCCC;
	padding: 8px;
	text-decoration: none;
	zoom: 1;
	border-radius: 5px;
	background-color: #FFF;
	margin-right:5px;
}
.pageBox span,.pageBox a:hover {
	background-color: #53ADE6;
	color: #FFF;
	border: 1px solid #409AD6;
}

/*
*edited by kevin_wang
*图片上传相关样式
*/
.img_add input[type='file'] {
  /*position: relative;*/
  display: block;
  border:none;
  outline: none;
}

.rewri_file {
  display:block;
  width: 150px;
  height: 80px;
  border-radius:10px;
  position: relative;
  cursor:pointer;
  background: #fff;
}


.rewri_file span {
  width: 150px;
  height: 80px;
  background: url(/public/admin/images/add.png) no-repeat center center;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  bottom:0;
  z-index:0;
}
.rewri_file input[type='file'] {
  width: 150px;
  height: 80px;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  cursor:pointer;
  z-index:1;
}


.img_dat {
  display:inline-block;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius:10px;
  position: relative;
  cursor:pointer;
  font-size:16px;
  color:#fff;
  text-align: center;
  overflow: hidden;
}
.img_dat img {
  width: 100%;

}
.img_dat span {
  display: none;
}
.img_dat:hover span{
  display: inline-block;
  width: 200px;
  height: 150px;
  background: rgba(0,0,0,.5) url(/public/admin/images/delete.png) no-repeat center center;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  bottom:0;
  z-index:999;
}